.Generator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.Generator-Settings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  border: 2px ridge #5D0B98;
  border-radius: 10px;
  background-color: #E3C5FC;
  width: 80%;
}
.Generator-Settings-Header{
  display: inline-flex;
  opacity: 100%;
  margin: 0px 0vw 1.8vh 0vw;
  border-bottom: 2px ridge #5D0B98;
  padding: 1vh 1vw 4px 1vw;
  color: black;
  font-weight: bold;
  font-size: max(1.8vw, 34pt);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-align: center;
  text-shadow: -2px -2px 0 #F5E7FF,  
  2px -2px 0 #F5E7FF,
 -2px  2px 0 #F5E7FF,
  4px  4px 0 #F5E7FF;
}
.Gender-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: max(30px, 2vw);
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px ridge #5D0B98;
  border-radius: 10px;
  background-color: #F5E7FF; 
  padding: 10px 0px 14px 0px;
  width: max(24vw, 400px);
  max-width: max(24vw, 400px);
}
.Gender-Slider-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Slider-Label{
  display: inline-block;
  margin-bottom: 4px;
  color: black;
  font-weight: bold;
  font-size: 14pt
}
.Top-Gender-Slider, .Bottom-Gender-Slider, .Shoe-Gender-Slider{
  position: relative;
  margin-top: 4px;
}
.Size-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(24vw, 400px);
  max-width: max(24vw, 400px);
}
.Size-Input-Container, .Brand-Container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: max(1vw, 10px);
  border-bottom: 2px ridge #5D0B98;
  padding: 0px 4vw 0px 4vw;
  width: max(24vw, 400px);
  max-width: max(24vw, 400px);
}
.Brand-Container{
  margin-bottom: max(2vh, 60px);
  border-bottom: none;

}

.Size-Label, .Waist-Size-Label, .Shoe-Size-Label{
  display: inline-block;
  margin: 10px 20px 10px 10px;
  width: min(60px, 10vw);
  color: black;
  font-weight: bold;
  font-size: 14pt;
}
.Waist-Size-Label{
  margin-right: 6px;
  font-size: 12pt;
}
.Shoe-Size-Label{
  font-size: 22pt;
  text-shadow: #F5E7FF 2px 2px 1px;
}
.Shoe-Size-Range-Emph{
  color:#5D0B98;
}
.Size-Button, .Size-Button-Small{
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, border-radius, text-shadow 0.3s, border-width 0.3s;
  cursor: pointer;
  margin:10px 0 10px 0;
  border: 1px ridge #5D0B98;
  border-radius: 5px;
  background-color: #F5E7FF;
  padding: 6px 10px 6px 10px;
  color: #F5E7FF;
  font-weight: bold;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow: -1px -1px 0 black,  
  1px -1px 0 black,
 -1px  1px 0 black,
  1px  1px 0 black;
}
.Size-Button-Small{
  padding: 6px 6px 6px 6px;
}
.Size-Button:hover, .Size-Button-Small:hover{
  border-color: #F5E7FF;
  background-color: black;
  color: #5D0B98;
  text-shadow:
  -1px -1px 0 #F5E7FF,
  1px -1px 0px #F5E7FF,
  -1px 1px 0 #F5E7FF,
  1px 1px 0 #F5E7FF;
}
.Size-Button-Selected, .Size-Button-Small-Selected{
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, border-radius, text-shadow 0.3s, border-width 0.3s;
  cursor: pointer;
  margin:18px 0 18px 0;
  border: 1px ridge #5D0B98;
  border-radius: 5px;
  background-color: black;
  padding: 6px 10px 6px 10px;
  color: #5D0B98;
  font-weight: bold;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow:
  -1px -1px 0 #F5E7FF,
  1px -1px 0px #F5E7FF,
  -1px 1px 0 #F5E7FF,
  1px 1px 0 #F5E7FF;
}
.Waist-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;
  border: 1px ridge #5D0B98;
  border-radius: 10px;
  background-color: #F5E7FF;
  padding: 0px 10px 0px 0px;
  width: max(24vw, 400px);
  max-width: max(24vw, 400px);

}
.Size-Button-Small-Selected{
  padding: 6px 6px 6px 6px;
}

.Waist-Size-Up, .Waist-Size-Down{
  border: none;
  background-color: #F5E7FF;
  padding: 0px;
}

.Waist-Size-Up-Icon, .Waist-Size-Down-Icon{
  cursor: pointer;
  margin: 0px;
  width: max(1vw, 20px);
}

.Waist-Size-Up-Icon{
  rotate: 180deg;
}
.Waist-Size-Display{
  display: inline-block;
  margin: 0px 10px 0px 10px;
  color: black;
  font-weight: bold;
  font-size: 16pt;
  text-shadow: #E3C5FC 2px 2px 0px;
}

.Shoe-Size-Input{
  box-shadow: #5D0B98 1px 1px 2px;
  background-color: #f6ecfe;
  padding: 2px 4px 2px 2px;
  width: max(3vw, 50px);
}
.Shoe-Size-Input:focus{
  outline: none;
  box-shadow: 1px 1px 1px 2px #5D0B98;
}

