.TopDisplay{
    --componentHeight: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    max-height: var(--componentHeight);
}
.ColorPallet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 20px;
    max-height: var(--componentHeight);
}
.ColorDisplay{
    width: 20px;
    height: calc( var(--componentHeight) / 4);
    min-height: calc( var(--componentHeight) / 4);
}
.TopImage{
    width: var(--componentHeight);
    height: var(var(--componentHeight));
}