.Outfit-Feed-Display{
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin-top: max(5vh, 60px);
    margin-bottom: max(5vh, 60px);
}
.Outfit-Feed-Item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border: black double 2px;
    border-radius: 10px;
    background-color: #f6ecfe;
    padding: 10px 20px 10px 20px;
}
.Outfit-Feed-Item-Buffer{
    opacity: 0%;
    width: 0px;
    height: 0px;
    
}

.Outfit-Feed-Button{
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #5D0B98;
    border: black solid 2px;
    border-radius: 10px;
    background-color: #E3C5FC;
    height: 400px;
}
.Outfit-Feed-Button:hover{
    box-shadow: 0px 0px 8px 0px #5D0B98;
    background-color: #c9ace1;
}
.Outfit-Feed-Button-Left, .Outfit-Feed-Button-Right{
    cursor: pointer;
    margin: 4px;
    border: black solid 2px;
    border-radius: 20px;
    background-color: #F9E8B4;
    padding: 6px 8px 6px 8px;
    width: 40px;
    height: 40px;
}

.Outfit-Feed-Button-Right{
    transform: rotate(180deg);
}