.App {
  box-sizing: border-box;
  margin: 0px;
  background-color: #f6ecfe;
  background-color: #f6ecfe;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
}
.Navbar-Container {
  display: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 10vh;
}
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin: 0px;
  border-bottom: 1px dashed #ffffff;
  background-color: #5d0b98;
  max-width: 100vw;
  height: min(10vh, 180px);
  color: white;
}
.NavbarElem {
  margin: 0 30px;
  color: white;
  font-weight: 400;
  font-size: 16pt;
  text-decoration: none;
}
.NavbarElemSelected {
  margin: 0 40px;
  color: #f6ecfe;
  font-weight: 600;
  font-size: 18pt;
  text-decoration: solid;
}
.NavbarLogo {
  position: relative;
  top: -8vh;
  left: -44vw;
  z-index: 101;
  width: 6vh;
  height: 6vh;
  pointer-events: none;
}
