.App {
  text-align: center;
  background-color: #F6ECFE;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.Navbar-Container{
  display: relative;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
.Navbar {
  background-color: #5D0B98;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(10vh, 180px);
  z-index: 5;
}
.NavbarElem{
  margin: 0 20px;
  color: white;
  font-size: 16pt;
  text-decoration: none;
}
.NavbarLogo{
  position: relative;
  top: -8vh;
  left: -44vw;
  width: 6vh;
  height: 6vh;
  z-index: 101;
}



