.App {
  text-align: center;
  background-color: #F6ECFE;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.Navbar {
  background-color: #5D0B98;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(10vh, 180px);
}
.navbar-elem{
  margin: 0 20px;
  color: white;
  font-size: 14pt;
  text-decoration: none;
}
.Outfit{
  display: flexbox;
  flex-direction: row;
  max-height: 200px;
}
.TopDisplay, .BottomDisplay, .ShoeDisplay{
  max-height: 200px;
  max-width: 200px;
  margin: 10px;
}


