.Home{
    cursor:default;
}
.Home-Hero{
    display: relative;
    padding-top: min(10vh, 180px);
}
.Hero-Background{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

}
.Rel-Dummy{
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 28%;
    z-index: 5;
}
.Hero-Overlay{
    display: flex;
    flex-direction: column;
    align-items: start;
    opacity: 75%;
    background-color: black;
    padding: 2vh 1.6vw 2vh 1.6vw;

}
.Hero-Header{
    display: inline-block;
    opacity: 100%;
    z-index: 5;
    margin:0px;
    margin-left: 1vw;
    color: #F5E7FF;
    font-weight: bold;
    font-size: 3.2vw;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-align: center;
    text-shadow: -2px -2px 0 #5D0B98,  
    2px -2px 0 #5D0B98,
   -2px  2px 0 #5D0B98,
    2px  2px 0 #5D0B98;
}
.Hero-Subheader{
    display: inline-block;
    opacity: 100%;
    opacity: 100%;
    z-index: 5;
    margin:0px;
    margin-top: 1.2vh;
    margin-right: 1vw;
    padding: 0px;
    padding-left: 2.4vw;
    color: #F5E7FF;
    font-size: 1.3vw;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    text-shadow: -1px -1px 0 #5D0B98,  
    1px -1px 0 #5D0B98,
   -1px  1px 0 #5D0B98,
    1px  1px 0 #5D0B98;
}
.Hero-Button{
    display: inline-block;
    opacity: 100%;
    z-index: 5;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin:5.8vh 0px 4vh 1vw;
    border: none;
    border-radius: 5px;
    background-color: #5D0B98;
    padding: 1vh 1.6vw 1vh 1.6vw;
    color: #F5E7FF;
    font-weight: bold;
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: -1px -1px 0 #5D0B98,  
    1px -1px 0 #5D0B98,
   -1px  1px 0 #5D0B98,
    1px  1px 0 #5D0B98;
}
.Hero-Button:hover{
    box-shadow: 0px 0px 10px 0px #5D0B98;
    background-color: black;
    color: #5D0B98;
}

.Project-Scale-Pannel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5E7FF;
    padding-top: 0vh;
    padding-bottom: 1vh;
    
}
.Home-Header-Wrap{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.Project-Scale-Header{
    display: inline-flex;
    opacity: 100%;
    margin: 0px 0px 1.8vh 0px;
    border-bottom: 2px ridge #5D0B98;
    padding: 0px 0px 4px 0px;
    color: black;
    font-weight: bold;
    font-size: max(1.8vw, 34pt);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-align: center;
    text-shadow: -2px -2px 0 hsl(275, 100%, 95%),  
    2px -2px 0 #F5E7FF,
   -2px  2px 0 #F5E7FF,
    4px  4px 0 #F5E7FF;
}

.Project-Scale-Text{
    margin:0px;
    margin-top: 2vh;
    margin-left: 26vw;
    padding: 0px;
    color: black;
    font-size: max(.8vw, 14pt);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ;
    text-align: left;
    text-shadow: -1px -1px 0 #F5E7FF,  
    1px -1px 0 #F5E7FF,
   -1px  1px 0 #F5E7FF,
    1px  1px 0 #F5E7FF;
}

.Project-Scale-Text-Emph{
    font-weight: bold;
}